/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

h1 {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    font-family: serif;
}

body{
    background-color:antiquewhite;
}